@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject PubCrawlService PubCrawlService
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div class="container">
    <h1>[Event Name]</h1>

     <div id="map"></div>
</div>

<div class="container">
    <h1>Top Beers 🍻</h1>
</div>


@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? userInput;
    private string? messageInput;
    private DotNetObjectReference<Index> dotNetObjectReference;

    protected override async Task OnInitializedAsync()
    {
        @* await JSRuntime.InvokeVoidAsync("initializeMap"); *@

        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5001/geohub")
            .Build();

        // TODO Make sure map is rendered before calling this
        hubConnection.On<string, int>("OnVenueAttendanceUpdated", (venueId, attendance) =>
        {
            JSRuntime.InvokeVoidAsync("updateMarkerAttendance", venueId, attendance);
        });

        await hubConnection.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var data = await PubCrawlService.GetVenuesAsync();
    
            dotNetObjectReference = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeVoidAsync("initializeMap", data, dotNetObjectReference);
        }
    }    

    [JSInvokable]
    public Task OnVenueClicked(string venueId)
    {
        Navigation.NavigateTo($"/venues/{venueId}");
        return Task.CompletedTask;
    }

    private async Task Send()
    {
        if (hubConnection is not null)
            {
                await hubConnection.SendAsync("SendMessage", userInput, messageInput);
            }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }

        if (dotNetObjectReference is not null)
        {
            dotNetObjectReference.Dispose();
        }
    }
}